@media screen and (min-width: 650px) and (max-width: 750px) {
    .secundomer, .clock {
        width: 300px !important;
    }
}
@media screen and (max-width: 650px) {
    .secundomer, .clock {
        width: 300px !important;
    }
    .container{
        width: 100% !important;
        margin: 0 !important;
    }
    nav{
        margin-left: -105%;
    }
    .btnOpenNav{
        display: block !important;
    }
}   